<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="admin.css")
    title for-scott
  body
    #header #[.header_item ] #[.header_item #[a(href="/logout") #[button#logout.header(type="submit") Logout]]]
    h1 admin
    each user in users
      h2 #{user.email}
        each upload in user.uploads
          p #[span.msg #{upload.msg}]
          each photo in upload.photos
            img.photo(src=photo)
        
