<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="style.css")
    title for-scott
  body
    h1 connected
    form(action="/login", method="POST")
      input(type="email", name="email")
      button(type="submit") Submit